@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #e03f16;
  --secondaryColor: #4bd613;
  --greyColor:  #f8f8f8ee;
  --whiteColor: #fdfdfdee;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 10px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}




*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.20rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.section {
  margin: 4rem auto;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
    margin-top: 5rem;
  }
}

.core_btn {
  background: #fff;
  padding: 0.5rem 2rem;
  border-radius: 55px;
  color: var(--secondaryColor);
  font-weight: 400;
}

.btn_container {
  margin-top: 4rem;
}

.section_header {
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 8rem;
}
.section_header h2{
  font-weight: 700;
  color: #333;
  text-align: center;
}

header {
  position: relative;
  background: url(../images/bg-img/Banner01.png) no-repeat 100% 100%;
  background-size: cover;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.nav-header {
  position: fixed;
  width: 100%;
  background: var(--secondaryColor);
  z-index: 9;
}

.navbar a {
  color: #eee;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .fa-bars {
  color: #eee;
  font-size: 1.4rem;
}

.logo_icon {
  width: 200px;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand span{
  color: var(--primaryColor);
}

.dropdown-menu {
  background: var(--secondaryColor)!important;
}

.pricing_chart {
  position: relative;
  background: url(../images/priceing-chats-bg-shpe.png) no-repeat 100% 100%;
  content: "";
  height: 70%;
  width: 100%;
  left: 0;
  /* margin: 10rem 0; */
  /* bottom: 50%; */
  /* transform: translateY(20%); */
}

.chart_card {
  height: 400px;
  width: 70%;
    margin: 0 auto;
  padding: 20px;
  box-shadow: var(--dark-shadow);
  object-fit: cover;
  z-index: 9;
  background: #fff;
}

.tradingview-widget-container {
  width: 100% !important;
}

.core_btn {
  background: #fff;
  padding: 0.5rem 2rem;
  border-radius: 55px;
  color: var(--secondaryColor) !important;
  font-weight: 600;
}

.hero_section {
  padding: 3rem 0;
}

.hero_content {
  padding-top: 8rem;
}

.hero_img {
  padding-top: 3rem;
}

.hero_content p {
  font-size: 1.2rem;
  color: #fff;
  margin: 3rem 0;
}

.hero_content .core_btn {
  background: #fff;
  padding: 1rem 4rem;
  border-radius: 55px;
  color: var(--secondaryColor);
  font-weight: 700;
  font-size: 1.2rem;
}

.hero_title {
  color: #fff;
  font-weight: 700;
}

.hero_img {
  margin-top: 3rem;
}

.about {
  margin-top: 6rem;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 2rem;
}

.step img {
  width: 40px;
}
.step .step_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  box-shadow: var(--dark-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.step .content {
  width: 70%;
}

.step h3 {
  font-weight: 700;
  text-transform: capitalize;
}

.btn_core-main {
  background: var(--secondaryColor);
  color: #fff;
  padding: 15px 4rem;
  border-radius: 55px;
  font-weight: 700;
  font-size: 1.2rem;
}

.card {
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 5px;
  background: #015705;
  color: #333;
  height: 330px;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.card:hover {
  background: var(--secondaryColor);
  box-shadow: var(--dark-shadow);
}
.card .title {
  font-weight: 700;
  color: #fff;
}

.card .content p {
  margin-top: 1rem;
  color: #eee;
}
.card .icon img{
  width: 70px;
  margin-bottom: 2rem;
}

.tes_card {
  padding: 2rem 3rem;
  border: solid 1px #eee;
  border-radius: 6px;
  transition: var(--transition);
  cursor: pointer;
  margin-bottom: 2rem;
}

.tes_card:hover {
  box-shadow: var(--dark-shadow);
}

.tes_card .rating {
  margin-bottom: 2rem;
}
.tes_card .rating .tick {
  color: var(--primaryColor);
}

.tes_card .content .tes_title {
  font-weight: 700;
  color: #1d1c1c;
  font-size: 1.1rem;
}

.tes_card .user_img {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.tes_card .user_img img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px var(--primaryColor);
  margin-right: 1rem;
}

.tes_card .content p {
  margin-top: 2rem;
}

.tes_card .tes_user h5 {
  margin: 0;
  color: #000;
  font-size: 1rem;
}
.tes_card .tes_user p {
  color: var(--primaryColor);
}

.choose_cards {
  /* background: linear-gradient(118deg, rgb(5, 23, 141) 20%, rgb(40, 14, 112) 66%); */
  /* border: solid 2px var(--secondaryColor); */
  text-align: center;
  padding: 4rem 0;
  border-radius: 6px;
  box-shadow: var(--dark-shadow);
}

.choose_card p{
  padding: 0 3rem;
  color: var(--secondaryColor);
  font-weight: 600;
}

.choose_card .icon {
  /* background: var(--secondaryColor); */
  box-shadow: var(--dark-shadow);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content:center;
}
.choose_card ion-icon {
  font-size: 4rem;
  color: var(--secondaryColor);
}



footer {
  text-align: center;
  padding: 3rem 0;
  background: #f8f8f8ee;
}

.footer_logo {
  padding-top: 3rem;
}

.footer_nav {
  color: #333;
  margin: 2rem 0;
}

.footer_nav a {
  color: #333;
  margin: 0 1rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer_nav a:hover {
  color: var(--secondaryColor);
}

footer .logo_icon {
  width: 220px;
}

.footer_logo {
  color: var(--secondaryColor);
  font-size: 2rem;
}


@media screen and (max-width: 768px) {
  .hero_content p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
  }

  .hero_content {
    padding-top: 8rem;
  }

  .logo_icon {
    width: 150px;
  }
  
  .hero_img {
    padding-top: 0rem;
  }

  .hero_content .core_btn {
    background: #fff;
    padding: 0.7rem 3rem;
    border-radius: 55px;
    color: var(--secondaryColor);
    font-weight: 700;
    font-size: 1.1rem;
  }

  .chart_card {
    height: 400px;
    padding: 0;
    box-shadow: none;
    object-fit: cover;
  }

  .step img {
    width: 30px;
  }

  .step .step_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    box-shadow: var(--dark-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pricing_chart {
    background: none;
  }
  
  .chart_card {
    height: 400px;
    width: 100%;
      margin: 0 auto;
    padding: 20px;
    box-shadow: var(--dark-shadow);
    object-fit: cover;
    z-index: 9;
    background: #fff;
  }

  .section_header {
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 3rem;
  }

}


